/*--------------------------------------------------------------
# Counter
--------------------------------------------------------------*/

.pxl-counter1 {
	position: relative;
	text-align: center;
	.pxl--item-inner {
		position: relative;
	}
	.pxl--counter-number {
		position: relative;
		padding-bottom: 19px;
	}
	.pxl--item-title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 600;
		margin-bottom: 0;
		color: $fourth_color;
	}
	&.style1 {
		.pxl--counter-prefix, .pxl--counter-value, .pxl--counter-suffix {
			display: inline-block;
			font-size: 64px;
			font-weight: 600;
			line-height: 1;
			color: $fourth_color;
			@media #{$max-md} {
				font-size: 60px;
			}
			@media #{$max-sm} {
				font-size: 50px;
			}
		}
	}
}