/*--------------------------------------------------------------
# Icon Box
--------------------------------------------------------------*/

.pxl-icon-box {
    .pxl-item--icon {
        line-height: 1;
        i {
            line-height: 1;
        }
        img {
            width: auto;
        }
    }
}

.pxl-icon-box1 {
    position: relative;
    .pxl-item--content {
        display: flex;
        align-items: center;
    }
    .pxl-item--icon {
        position: relative;
        -webkit-box-flex: 0;-ms-flex: none;flex: none;
        margin: 0 18px 0 0;
        border: 1px solid #E6E6E6;
        width: 44px;
        height: 44px;
        @extend .pxl-item--flexct;
        @include border-radius(50%);
        &:before {
            background-color: transparent;
            z-index: 1;
            opacity: 0;
            @extend .pxl-spill;
            @include transform(scale(1.2));
            @include border-radius(inherit);
            @include transition(inherit);
        }
        i {
            color: #E6E6E6;
            font-size: 21px;
            z-index: 2;
            @include transition(inherit);
        }
        img {
            max-height: 21px;
            z-index: 2;
        }
        svg {
            z-index: 2;
        }
    }
    .pxl-item--title {
        margin-bottom: 0;
    }
    .item--link {
        display: flex;
        align-items: center;
        &:hover {
            .pxl-item--icon {
                border-color: $secondary_color;
                &:before {
                    background-color: $secondary_color;
                    opacity: 1;
                    @include transform(scale(1.05));
                }
                i {
                    color: $fourth_color;
                }
            }
            .pxl-item--title {
                color: $secondary_color;
            }
        }
        &.pxl-hover-transition {
            .pxl-item--icon, .pxl-item--title {
                @include transition(all 300ms ease-in-out);
            }
        }
    }
}

.pxl-icon-box2 {
    .pxl-item--inner {
        text-align: center;
        background: #FFFFFF;
        padding: 50px 15px;
        @include border-radius(10px);
    }
    .pxl-item--icon {
        display: inline-block;
        width: 60px;
        margin-bottom: 7px;
        i {
            font-size: 60px;
            color: $primary_color;
        }
    }
    .pxl-item--title {
        color: $primary_color;
        margin: 0;
        @media #{$max-lg} {
            font-size: 17px;
        }
    }
}