/*--------------------------------------------------------------
# Image Box
--------------------------------------------------------------*/

.pxl-image-box1 {
    .pxl-item--inner {
        position: relative;
        &:hover {
            .image--reveal {
                opacity: 0;
                @include transform(translateX(-20px));
            }
        }
    }
    .image--reveal {
        position: absolute;
        left: 20px;
        bottom: 17px;
        line-height: 1;
        z-index: 1;
        pointer-events: none;
        @include transition(all 500ms ease-in-out);
        @media #{$max-xs} {
            display: none;
        }
    }
    .canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        @extend .pxl-item--flexct;
    }
    .item--image {
        img {
            opacity: 0;
            object-fit: cover;
        }
    }
    .image-back, .map {
        @extend .pxl-spill;
    }
}

.pxl-image-box2 {
    .logo-dark {
        display: none;
    }
    .pxl-item--inner {
       position: relative;
       width: 152px;
       height: 152px;
       cursor: pointer;
       overflow: hidden;
       @extend .pxl-bg-pri-fou;
       @include border-radius(100%);
    }
    .item--text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transform-origin(center);
    }
    .item--text div {
        display: -webkit-box;display: -ms-flexbox;display: flex;
        -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 42%;
        font-size: 16px;
        font-weight: 500;
        line-height: 0;
        text-transform: uppercase;
        pointer-events: none;
        mix-blend-mode: difference;
        @extend .pxl-color-fou-pri;
        @include transform-origin(50% 95%);
    }
    .item--image {
        pointer-events: none;
        @extend .pxl-middle;
    }
}

.pxl-image-box3 {
    .image--reveal {
        position: absolute;
        line-height: 1;
        z-index: 1;
        pointer-events: none;
        @extend .pxl-custom-transition;
        @media #{$max-xs} {
            display: none;
        }
        &.reveal-one {
            left: 23px;
            bottom: -107px;
        }
        &.reveal-two {
            right: 20px;
            top: 40px;
        }
        svg {
            height: 285px;
            path {
                fill: #B2B2B2;
            }
        }
    }
    .canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        @extend .pxl-item--flexct;
    }
    .item--image {
        img {
            opacity: 0;
        }
    }
    img {
        width: 100%;
        object-fit: cover;
    }
    .item--front {
        position: absolute;
        right: 0;
        bottom: -121px;
        padding-left: 84px;
        z-index: 3;
        @extend .pxl-custom-transition;
    }
    .item--back {
        position: relative;
        padding-right: 84px;
        z-index: 2;
        @extend .pxl-custom-transition;
    }
    .image-back, .map {
        @extend .pxl-spill;
    }
    .pxl-item--inner {
        position: relative;
        @extend .pxl-custom-transition;
        &:hover {
            .image--reveal {
                 opacity: 0;
                &.reveal-one {
                    @include transform(translate(20px, -121px));
                }
                &.reveal-two {
                    @include transform(translateX(-20px));
                }
            }
            .item--front {
                opacity: 0;
                @include transform(translateY(-20px) scale(0.5));
            }
            .item--back {
                padding-right: 0;
            }
        }
    }
}