/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.pxl-team-grid1, .pxl-team-carousel1 {
    .pxl-item--image {
        position: relative;
        overflow: hidden;
        margin-bottom: 24px;
        img {
            object-fit: cover;
        }
    }
    .pxl-item--title, .pxl-item--position {
        position: relative;
        z-index: 2;
    }
    .pxl-item--title {
        margin-bottom: 10px;
        a {
            color: inherit;
            &:hover {
                color: $secondary_color;
            }
        }
    }
    .pxl-item--position {
        position: relative;
        display: inline-block;
        font-size: 11px;
        font-weight: 600;
        color: $secondary_color;
        &:after {
            width: 52px;
            height: 1px;
            background: $secondary_color;
            top: 50%;
            left: calc(100% + 7px);
            @extend .pxl-spill-lt;
            @include transform(translateY(-50%));
        }
    }
    .pxl-item--social {
        position: absolute;
        right: 30px;
        top: 30px;
        display: inline-flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        @include transform(translateX(10px));
        @include transition(all 300ms ease);
        @media #{$max-sm} {
            right: 20px;
            top: 20px;
        }
        a {
            position: relative;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            background: #FFF;
            text-align: center;
            z-index: 1;
            + a {
                margin-top: 20px;
            }
            span {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: $secondary_color;
                    z-index: -1;
                    @include transform(scale(0));
                    @include transition(all 300ms ease);
                }
            }
            i {
                color: $secondary_color;
                @include transition(all 300ms ease);
            }
            &:hover {
                background: transparent;
                i {
                    color: #FFF;
                }
                span:before {
                    @include transform(scale(1));
                }
            }
        }
    }
    .pxl-item--inner {
        position: relative;
        margin-bottom: 10px;
        &:hover {
            .pxl-item--social {
                opacity: 1;
                visibility: visible;
                @include transform(translateY(0));
            }
        }
    }
    &.style-circle {
        .pxl-item--inner {
            .pxl-item--image {
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0;
                    height: 0;
                    background: rgba(255,255,255,.2);
                    opacity: 0;
                    z-index: 1;
                    @include border-radius(100%);
                    @include transform(translate(-50%,-50%));
                }
            }
            &:hover {
                .pxl-item--image:before {
                    @include animation(img_circle .65s);
                }
            }
        }
    }
    &.style-overlay {
        .pxl-item--inner {
            .pxl-item--image {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(#232323, 0.63);
                    z-index: 2;
                    opacity: 0;
                    @include transition(all 300ms ease);
                }
            }
            &:hover {
                .pxl-item--image:before {
                    opacity: 1;
                }
            }
        }
    }
}
.pxl-team-carousel1 {
    @media #{$min-sm} {
        .pxl-carousel-inner {
            margin: 0 100px;
        }
    }
}