input::-moz-placeholder, textarea::-moz-placeholder, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, input::-o-placeholder, textarea::-o-placeholder,
input::-ms-placeholder, textarea::-ms-placeholder {
    color: inherit;
    opacity: 1;
    text-overflow: ellipsis;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select, .pxl-select-higthlight {
    width: 100%;
    height: 64px;
    padding: 10px 80px 10px 40px;
    font-size: 12px;
    font-weight: 600;
    color: $primary_color;
    line-height: normal;
    outline: none;
    border: none;
    font-family: inherit;
    @include box-shadow(none);
    @extend .pxl-bg-e6-2e;
}
input[type="range"] {
    padding: 0;
    background-color: transparent;
    height: auto;
    border: none;
}
select {
    height: 55px;
}
textarea {
    padding-top: 18px;
    padding-bottom: 18px;
    height: 140px;
    margin: 0;
}

// Comment Form
//--------------------------------------------------
.comments-area {
    margin-top: 29px;
    .comment-respond {
        .comment-reply-title {
            position: relative;
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 6px;
            margin-bottom: 0;
            @media #{$max-md} {
                font-size: 22px;
            }
        }
        .logged-in-as {
            font-size: 14px;
            line-height: 1.42857;
            font-weight: 500;
            margin: 10px 0 25px;
            a {
                &:nth-child(2) {
                    text-decoration: underline;
                }
            }
        }
    }
    .no-comments {
        display: none;
    }
}
.comment-respond {
    input {
        padding: 15px 25px;
        height: 60px;
    }
}
.comment-list-wrap + .comment-respond {

}
.comments-title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 28px;
    @media #{$max-md} {
        font-size: 22px;
    }
}
.comment-list {
    padding: 0;
    list-style: none;
    li {
        .children {
            padding-left: 30px;
            @media #{$max-xs} {
                padding-left: 15px;
            }
            li {
                list-style: none;
                margin-top: 30px;
            }
        }
        .comment-respond {
            margin-top: 20px;
            margin-bottom: 50px;
            margin-left: 130px;
            @media #{$max-xs} {
                margin-left: 0;
            }
            @media #{$max-lg} {
                small {
                    width: 100%;
                    margin: 1px 0 0;
                }
            }
        }
    }
    > li {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        > .children > li > .children > li > .children > li > .children {
            padding-left: 0;
            .children {
                padding-left: 0;
            }
        }
    }
}
.even > .comment-body {
    margin-right: 30px;
    @media #{$max-xs} {
        margin-right: 0;
    }
}
.comment-date {
    display: inline-block;
    color: $secondary_color;
    font-size: 14px;
    font-weight: 400;
}
.comment-inner {
    display: flex;
    flex-wrap: nowrap;
    @media #{$max-xs} {
        display: block;
    }
    img.avatar {
        width: 90px;
        height: 90px;
        min-width: 90px;
        margin: 25px 30px 25px 0;
        float: left;
        @media #{$max-xs} {
            float: none;
            margin: 0 auto 0 auto;
            margin-bottom: 25px;
            position: relative;
            z-index: 99;
            opacity: 1;
        }
    }
    .comment-content {
        position: relative;
        flex-grow: 1;
        padding: 25px 0px;
        @extend .pxl-item--flex;
        a {
            word-wrap: break-word;
            &:after {
                -webkit-transition-delay: 0s !important;
                -moz-transition-delay: 0s !important;
                transition-delay: 0s !important;
            }
        }
        .comment-title {
            font-size: 20px;
            line-height: 1.1818;
            font-weight: 500;
            margin: 0 30px 0 0;
        }
        .comment-text {
            width: 100%;
            margin: 9px 0;
            p {
                @extend .pxl-color-thi-fif;
            }
            p:last-child {
                margin-bottom: 0;
            }
            ol, ul {
                margin-bottom: 32px;
                ul, ol {
                    margin-bottom: 0;
                }
            }
            img {
                margin: 6px 0;
            }
        }
        .comment-reply-link  {
            font-size: 12px;
            font-weight: 400;
            color: $secondary_color;
            text-transform: uppercase;
        }
        @media #{$max-xs} {
            &:before {
                top: auto;
                left: 25px;
                right: auto;
                bottom: 100%;
                @include transform(rotate(180deg));
            }
        }
    }
    &:hover {
        .comment-content {

        }
    }
}
.comment-reply-title small {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 20px;
    a {
        position: relative;
        display: inline-flex;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        align-items: center;
        text-decoration: underline;
    }
}
.comment-holder {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
    .comment-meta {
        flex-grow: 1;
        margin-right: 30px;
    }
    @media #{$max-xs} {
        display: block;
        margin-top: 0;
        margin-bottom: 14px;
        .comment-meta {
            margin-right: 0;
        }
    }
}
.comment-form {
    .row {
        > div {
            margin-top: 20px;
        }
    }
    .form-submit {
        margin-top: 20px;
        margin-bottom: 0;
        input[type="submit"] {
            display: none;
        }
    }
    .comment-form-comment {
        display: flex;
        flex-wrap: wrap;
    }
}
.comment-form-cookies-consent {
    position: relative;
    font-size: 14px;
    line-height: 1.42857;
    color: #798076;
    padding-left: 35px;
    margin: 20px 0 30px;
    input, label:before, label:after {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        cursor: pointer;
    }
    label {
        cursor: pointer;
        &:before {
            content: '';
            z-index: 1;
            background-color: #ededed;
            border: 2px solid transparent;
        }
    }
    label:after {
        content: '\f119';
        font-family: "Caseicon";
        font-weight: 400;
        z-index: 2;
        font-size: 13px;
        color: $secondary_color;
        opacity: 0;
        line-height: 12px;
        text-align: center;
        top: 4px;
    }
    input {
        z-index: 99;
        opacity: 0;
        &:checked + label:after {
            opacity: 1;
        }
    }
}

#commentform {
    padding: 0;
}
/* Select Style */
.pxl-select {
    width: 100%;
    position: relative;
    .pxl-select-hidden {
        display: none;
    }
    .pxl-select-options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;
        margin: 10px 0 0;
        padding: 12px 18px;
        background-color: #fff;
        z-index: 99;
        font-size: 25px;
        color: #696878;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 0 3px 65px rgba(0,0,0,0.08);
        opacity: 0;
        margin-top: 30px;
        visibility: hidden;
        li {
            padding: 9px 8px;
            cursor: pointer;
            line-height: normal !important;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-select-higthlight {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &:before {
            content: "\f150";
            font-family: Caseicon;
            width: 28px;
            height: 28px;
            border-radius: 28px;
            color: #737879;
            line-height: 28px;
            text-align: center;
            font-size: 10px;
            font-family: Caseicon;
            position: absolute;
            top: 50%;
            right: 10px;
            @include transform(translate(0, -50%));
        }
        &.active {
            + .pxl-select-options {
                opacity: 1;
                margin-top: 10px;
                visibility: visible;
            }
            &:before {
                transform: translate(0, -50%) scaleY(-1);
            }
        }
    }
}