.admin-bar .pxl-hidden-template {
    top: 32px;
    height: calc(100% - 32px);
    @media screen and (max-width: 782px) {
        top: 46px;
        height: calc(100% - 46px);
    }

}

.pxl-panel-content {
    .menu-main-container-wrap {
        padding: 0;
        min-height: calc(100% - 50px);
        flex-direction: column;
    }
}
.side-panel-open {
    .pxl-page-overlay {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

.pxl-close {
    position: relative;
    color: #FFF;
    background-color: #abc;
    width: 38px;
    height: 38px;
    border: 9px solid transparent;
    cursor: pointer;
    z-index: 99;
    display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;
    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
    @include border-radius(50%);
    @include transition(all .3s ease);
    @media #{ $max-sm } {
        width: 30px;
        height: 30px;
        border-width: 8px;
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transform-origin: 50% 50%;
        opacity: 1;
        @include transition(transform ease 0.2s);
    }
    &:before {
        @include transform(rotate(45deg));
    }
    &:after {
        @include transform(rotate(-45deg));
    }
    &:hover{
        &:before,
        &:after {
            @include transform(rotate(0deg));
        }
    }
}

.pxl-overlay-drop {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.7);
    visibility: hidden;
    z-index: 1999;
    @include transition(all 0.5s ease 0.2s);
    &.panel-open {
        visibility: visible;
        @include transition-delay(0s);
    }
}

.pxl-hidden-template {
    display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    right: 0;
    will-change: transform;
    -webkit-transition-duration: 500ms;-o-transition-duration: 500ms;transition-duration: 500ms;
    opacity: 0;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: -1;
    @extend .pxl-bg-fou-pri;
    .pxl-panel-header {
        .panel-header-inner {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .pxl-panel-content {
        position: relative;
        flex: 1;
    }
    &::-webkit-scrollbar {
        width: 0px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &.pos-left,
    &.pos-right,
    &.pos-top,
    &.pos-full {
        &.pxl-side-cart {
            background-color: #000;
            .pxl-panel-header {
                padding: 15px 15px 15px 30px;
                @media (max-width: 400px) {
                    padding: 15px;
                }
            }
        }
        .pxl-panel-header {
            padding: 15px 15px 0 15px;
        }
        .pxl-panel-content {
            padding: 10px 30px 50px 30px;
        }
        .pxl-close {
            background-color: transparent;
            width: 54px;
            height: 54px;
            border-width: 15px;
            &:before, &:after {
                @extend .pxl-bg-pri-fou;
            }
        }
        .pxl-nav-inner {
            li {
                a {
                    font-size: 40px;
                    font-weight: 700;
                    letter-spacing: 0.012em;
                    @include transform(translateX(0));
                    &:before {
                        content: "...";
                        display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;
                        margin-right: 10px;
                        font-size: 24px;
                        color: $primary_color;
                    }
                }
                &:hover {
                    a {
                        @include transform(translateX(15px));
                        &:before {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .pxl-qc-wrap.layout-3 .qc-desc-wrap a:hover {
            color: #fff;
        }
        .pxl-menu-primary {
            > li {
                display: block;
                margin: 0;
                padding: 15px 0;
                > a {
                    display: block;
                    line-height: 32px;
                    font-size: 14px;
                }
            }
            li {
                a {
                    color: #fff;
                    @media #{$max-lg} {
                        line-height: 32px;
                    }
                }
            }
            .pxl-menu-toggle {
                position: absolute;
                top: 10px;
                right: 0px;
                display: block;
                width: 28px;
                height: 28px;
                line-height: 28px;
                font-size: 10px;
                text-align: center;
                color: #fff;
                cursor: pointer;
                background-color: rgba(#fff, 0.13);
                @include border-radius(3px);
                @include transition(.2s cubic-bezier(.24, .74, .58, 1));
                &:before {
                    content: "\f150";
                    font-family: "Caseicon";
                }
                &.active:before {
                    content: "\f13d";
                }
            }
        }
    }
    &.pos-left {
        width: 100%;
        max-width: 550px;
        right: auto;
        left: 0;
        border-right: 1px solid #231b26;
        @include transform(translate(-100%, 0));
        @media #{$max-md} {
            max-width: 300px;
        }
        .pxl-panel-header .panel-header-inner {
            justify-content: flex-start;
        }
    }
    &.pos-right {
        width: 100%;
        max-width: 550px;
        right: 0;
        left: auto;
        border-left: 1px solid #231b26;
        @include transform(translate(100%, 0));
        @media #{$max-md} {
            max-width: 300px;
        }
        .pxl-panel-header .panel-header-inner {
            justify-content: flex-end;
        }
    }
    &.pos-top {
        width: 100%;
        max-height: 400px;
        left: 0;
        right: 0;
        @include transform(translate(0, -100%));
        .pxl-panel-header {
            position: absolute;
            top: 30px;
            right: 30px;
            padding: 0;
            z-index: 1;
        }
    }
    &.pos-center {
        background-color: transparent;
        @extend .pxl-item--flexct;
        .pxl-hidden-template-wrap {
            position: relative;
            width: 100%;
            max-width: 870px;
            border: 1px solid #231b26;
            @extend .pxl-bg-fou-pri;
            @include transform(scale(0.6));
            @include transition(all .3s ease);
        }
        .pxl-panel-header {
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 0;
            z-index: 1;
        }
        .pxl-panel-content {
            padding: 0;
        }
        .pxl-close {
            background-color: transparent;
            &:before, &:after {
                @extend .pxl-bg-pri-fou;
            }
        }
        &.open {
            .pxl-hidden-template-wrap {
                @include transform(scale(1));
            }
        }
    }
    &.pos-full {
        .pxl-panel-header {
            position: absolute;
            top: 30px;
            right: 30px;
            padding: 0;
            z-index: 1;
        }
        .pxl-panel-content {
            padding: 0;
        }
        .pxl-close {
            &:before, &:after {
                background-color: $fourth_color;
            }
        }
        &.open {
            .pxl-hidden-template-wrap {
                @include transform(scale(1));
            }
        }
    }

    &.pos-left + .pxl-overlay-drop,
    &.pos-right + .pxl-overlay-drop {
        @include transform(scaleX(0));
        &.panel-open {
            @include transform(scaleX(1));
        }
    }
    &.pos-left + .pxl-overlay-drop {
        @include transform-origin(0 0);
    }
    &.pos-right + .pxl-overlay-drop {
        @include transform-origin(100% 50%);
    }
    &.pos-top + .pxl-overlay-drop {
        height: 0;
        &.panel-open {
            height: 100%;
        }
    }
    &.pos-center + .pxl-overlay-drop {
        @include transition(none);
    }
    &.pos-full + .pxl-overlay-drop {
        display: none;
    }
    &.open {
        opacity: 1;
        z-index: 99999;
        @include transform(translate(0, 0));
    }
}

.pxl-hidden-template.pxl-side-mobile.el-builder {
    .pxl-panel-header {
        padding: 20px 35px;

        @media #{ $max-xs } {
            padding: 20px 15px;
        }
    }

    .pxl-panel-content {
        padding: 10px 35px 50px 35px;

        @media #{ $max-xs } {
            padding: 5px 15px 30px 15px;
        }

        .elementor-column-gap-default > .elementor-column.elementor-element > .elementor-element-populated {
            padding: 0;
        }
    }
}

.admin-bar .pxl-side-cart {
    top: 32px;
    height: 100vh;
}
.pxl-side-cart {
    width: 100%;
    height: auto;
    min-height: 540px;
    max-width: 370px;
    left: auto;
    top: 0;
    @include transform(translate(100%, 0));
    &.open{
        @include transform(translate(0, 0));
    }
    .pxl-panel-header .panel-header-inner{
        justify-content: space-between;
    }
    .pxl-panel-header {
        .pxl-title {
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            flex-grow: 1;
            .widget_cart_counter {
                margin-left: 5px;
            }
        }
        .pxl-close {
            background-color: transparent;
            right: 0;
            &:before,
            &:after {
                background-color: #fff;
            }
            &:hover {
                background-color: transparent;
                &:before,
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
    .pxl-panel-content{
        padding: 0 24px 35px 24px;
        overflow: hidden;
        position: static;
        @media (max-width: 400px) {
            padding: 0 15px 35px 15px;
        }
    }
    .widget_shopping_cart_content{
        ul {
            list-style: none outside;
            padding: 0;
            margin: 0 0 15px;
            li {
                padding: 24px 30px 24px 0!important;
                position: relative;
                display: block;
                clear: both;
                overflow: hidden;
                + li {
                    border-top: 1px solid $third_color;
                }
                a {
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #fff;
                    &:hover {
                        color: $fifth_color;
                    }
                }
                .remove{
                    position: absolute;
                    top: 25px !important;
                    right: 5px !important;
                    line-height: 1;
                    padding: 5px;
                    color: $fourth_color !important;
                    left: auto !important;
                    background-color: transparent;
                    &:hover{
                        color: $fifth_color !important;
                    }
                }
                .quantity{
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 8px;
                    color: #fff;
                }
                .amount{
                    color: #fff;
                    font-weight: 600;
                    font-size: 14px;
                }
                .variation-Size, .variation-Size {
                    font-weight: 700;
                    padding: 0;
                    margin: 0;
                    clear: left;
                    color: #fff;
                    margin-right: 10px;
                }
                .variation {
                    display: flex;
                    align-items: center;
                    color: #fff;
                    padding-left: 0;
                }
                .star-rating{
                    + .woocommerce-Price-amount,
                    + .reviewer{
                        display: block;
                        width: 100%;
                        padding-left: 92px;
                    }
                }

                img {
                    float: left;
                    margin-right: 20px;
                    width: 72px;
                    height: auto;
                }

                dl {
                    margin: 0;
                    padding-left: 1em;
                    border-left: 2px solid rgba(0, 0, 0, 0.1);
                    dt,
                    dd {
                        display: inline-block;
                        float: left;
                        margin-bottom: 1em;
                    }

                    dt {
                        font-weight: 700;
                        padding: 0 0 0.25em;
                        margin: 0 4px 0 0;
                        clear: left;
                    }

                    dd {
                        padding: 0 0 0.25em;

                        p:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .woocommerce-mini-cart__total{
            padding: 20px 0px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            margin-bottom: 0;
            color: #fff;
            strong{
                font-weight: 400;
            }
            .amount{
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #fff;
            }
        }
        .buttons{
            .button{
                display: inline-block;
            }
        }
        .blockUI {
            background-color: rgba(#232323, 0.9);
            &:before {
                border-color: transparent #FFF transparent #FFF;
            }
        }
    }
    .pxl-hidden-template-wrap {
        height: 100vh;
        position: relative;
        padding-bottom: 220px;
    }
    p.woocommerce-mini-cart__total {

    }
    p.woocommerce-mini-cart__buttons {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        &:before, &:after {
            display: none !important;
        }
        a {
            font-size: 15px;
            text-transform: uppercase;
            background: $secondary_color;
            border: 2px solid transparent;
            margin: 0;
            padding: 0 50px;
            overflow: hidden;
            @include transition(all 300ms ease);
            &:after {
                content: "";
                position: absolute;
                width: 150%;
                height: 0%;
                left: 50%;
                top: 50%;
                z-index: -1;
                opacity: 0;
                background-size: 10px 10px;
                background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
                background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
                background-image: -ms-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
                background-image: -o-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
                background-image: linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
                @include transform(translateX(-50%) translateY(-50%) rotate(-25deg));
                @include transition(all 0.75s ease 0s);
            }
            &:hover, &:active, &:focus {
                color: $fifth_color;
                background-color: transparent;
                border-color: $secondary_color;
                &:after {
                    height: 600%;
                    opacity: 1;
                }
            }
        }
    }
    .blockOverlay{
        background-color: rgba(255,255,255,.2) !important;
    }
    .woocommerce-mini-cart__empty-message{
        position: relative;
        color: #fff;
        text-align: center;
        margin-top: 30px;
        padding-top: 220px;
        &:before {
            content: '\f151';
            font-family: 'Caseicon';
            position: absolute;
            left: 50%;
            bottom: 60px;
            font-size: 50px;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            border: 2px solid #444;
            @include border-radius(50%);
            @include transform(translateX(-50%));
        }
    }
}
